# Java common
*.class
target/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db

# NetBeans specific
nbproject
.nbproject
.nbproject/*
nbproject/*
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
build.xml

# Project specific
src/main/resources/Email.properties
src/main/resources/KafkaProducer.properties
src/main/resources/KafkaConsumer.properties
src/main/resources/KafkaMonitoringProducer.properties
src/main/resources/PresetSimulation.properties
manifest.mf
